/*
字体颜色
[font-primary] {
 color: #333;
}
*/

@each $style in (primary $color-text-primary, secondary $color-text-secondary) {
  [font-#{nth($style, 1)}] {
    color: #{nth($style, 2)};
  }
}

@each $i in 0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1 {
  [bga#{$i * 10}] {
    background-color: rgba(0,0,0,$i);
  }
}