<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style></style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="info.name">
        <child :msg="info"></child> <br>
        <child :msg.once="info"></child> <br>

        <input type="text" v-model="test">
        <child2 :test="test"></child2> <br>
        <child2 :test.once="test"></child2> <br>
    </div>
    <script src="https://cdn.bootcss.com/vue/1.0.15/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script>
        new Vue({
            el: '#app',
            data: {
                info: {
                    name: 'jamse'
                },
                test: 'test'
            },
            methods: {
                
            },
            computed: {
                
            },
            components: {
                'child': {
                    props: ['msg'],
                    template: '<div>{{msg.name}}</div>'
                },
                'child2': {
                    props: ['test'],
                    template: '<div>{{test}}</div>'
                }
            },
            created () {
                
            },
            mounted(){
                
            }
        })
    </script>
</body>
</html>