// Color
$color-primary: #666; // 参考elementui
$color-white: #000;

$color-text-primary: #333;
$color-text-secondary: #333;
$color-text-tertiary: $color-white;

$border-color-base: #e5e5e5;

$background-color-primary: red;

// Border
$border-width-base: 1px !default;
$border-style-base: solid !default;

// z-index
$index-normal: 1;
$index-top: 1000;
$index-popper: 2000;

.text1 {
  color: $color-primary;
}

.main {
  .redbox {
    color: $color-white;
  }
}

@mixin large-text {
  color: #fff;
}
.page {
  @include large-text; // color: #fff;
  padding: 4px;
}

@function grid-width($n) {
  @return $n * 100px;
}
#sidebar {
  width: grid-width(2); // 200px
}
